.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.8) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  background-color: #51a3a3;
  /* margin: 16px 0px; */
}

.navbar a {
  text-decoration: none;
  color: #1e1a2e;
}

.brand:hover {
  color: #57417a;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list a {
  /* margin: 0px 10px; */
  padding: 8px 24px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.4s;
}

.links_list a:hover {
  color: #57417a;
}

.links_list a:active {
  color: #f7ece1;
  background-color: transparent;
  transition: 0.1s;
}

.active {
  color: #57417a;
  background-color: #f7ece1;
  border-radius: 2px;
}
