.post_detail {
  margin-bottom: 2em;
  padding-top: 1.5em;
  border-top: 1px solid #51a3a3;
  max-width: 600px;
}

.post_detail img {
  width: 600px;
  height: 400px;
  object-fit: cover;
}

.post_detail h2 {
  margin-bottom: 0.4em;
  color: #f7ece1;
}

.post_detail h2:hover {
  color: #51a3a3;
  transition: 0.2s;
}

.post_detail .tags {
  margin-bottom: 0.6em;
  display: flex;
  flex-wrap: wrap;
}

.post_detail .tags p {
  cursor: pointer;
}

.post_detail .tags p:hover {
  color: #51a3a3;
  transition: 0.2s;
}

.post_detail p {
  margin: 0.4em 0;
  margin-right: 0.5em;
}

.post_detail span {
  font-weight: bold;
  color: #51a3a3;
}

.createdBy {
  font-style: italic;
  color: #51a3a3;
  font-size: 0.8em;
  margin-bottom: 1em;
  cursor: pointer;
}

.createdBy:hover {
  color: #f7ece1;
  transition: 0.2s;
}

.tags {
  margin: 0;
  padding: 0;
  color: #f7ece1;
}

.tags:hover {
  color: #f7ece1;
  cursor: default;
}
